<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/maincss.css}"></link>
<script src="/js/jquery-3.5.1.js" th:src="@{/js/jquery-3.5.1.js}"></script>
<script src="/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
	#eventb{
		background-image: url( "../img/mainbanner13.jpg" );
		opacity: 0.8;
	}
</style>
<script type="text/javascript">
$(document).ready(function () {
	
	//top버튼 컨트롤
    $('#top').click(function(){
       $('html, body').animate({
           scrollTop:0
       },500); 
    }).hide();
    $(window).scroll(function(){
        if($(this).scrollTop()>200){
            $('#top').show();
        }else{
            $('#top').hide();
        }
    });
	
});
</script>
</head>
<body>
<header class=" text-center">
	<div id="mainHeader">
		<div id="mainNav">
			<div class="d-flex justify-content-between">
				<div class="pt-2">
					<nav class="navbar navbar-expand-sm justify-center-center">
						<a class="mr-5 ml-2" href="/normal/index">
							<img class="" src="../img/logo.png" width="150px;">
						</a>
						<ul class="navbar-nav">
						    <li class="nav-item mr-2">
						        <a class="nav-link text-dark small" href="/normal/hosfital1">진료과목별</a>
						    </li>
						    <li class="nav-item mr-2">
						        <a class="nav-link text-dark small" href="/normal/hosfital2">지역별</a>
						    </li>
						    <li class="nav-item mr-2">
						        <a class="nav-link text-dark small" href="/normal/event">이벤트</a>
						    </li>
						    <li class="nav-item mr-2">
						        <a class="nav-link text-dark small" href="/normal/community">커뮤니티</a>
						    </li>
						</ul>
					</nav>
				</div>
				<div class="p-2">
				    <nav class="navbar navbar-expand-sm justify-center-center">
				        <ul class="navbar-nav">
				            <li class="nav-item mr-2">
				            	<a class="nav-link text-dark small" th:if="${session.normalEmail} != null">
				                    <span th:text="${session.normalEmail} + ' 님 '" ></span>
				                </a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link text-dark small" href="/login/normal/logout" th:if="${session.normalEmail} != null">
				                    <span>로그아웃</span>
				                </a>
				                <a class="nav-link text-dark" href="/login" th:unless="${session.normalEmail} != null">
				                    <i class="fa fa-user-circle-o" aria-hidden="true" style=" font-size:26px; color: #0E2D53;"></i>
				                </a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link text-dark mx-2 small" href="/normal/mypageInfo/" th:attrappend="href=${session.normalEmail}" th:if="${session.normalEmail} != null">
				                    My
				                </a>
				                <a class="nav-link text-dark mx-2 small" href="/login" th:unless="${session.normalEmail} != null">
				                    My
				                </a>
				            </li>
				        </ul>
				    </nav>
				</div>
			</div>
		</div>
	</div>
</header>
<div id="eventWrap" style="width: 100%; height: 300px; background-color: black;">
	<div id="eventb" style="width: 100%; height: 300px;"> 
	</div>
	<h1 class="text-center" style="color: white; position: relative; top: -175px;">이벤트</h1>
</div>
<div class="container pt-5">
	<h4>진행중 이벤트</h4>
</div>
<main class="container pt-3">
		<div class="row" th:fragment="list">
			<div class="col-sm-3" th:if="${#lists.size(eventList)} > 0" th:each="elist : ${eventList}">
				<div class="card mb-3" style="height:350px; border: 0">
					<div style="height:250px;" class="embed-responsive" th:if="${#lists.size(elist)} > 0 " th:each="list : ${elist.fileList}">
						<a href="/normal/EventDetail/" th:attrappend="href=${elist.eventNo}"><img th:src="@{${list.fileName}}" width="100%" height="100%"></a>
					</div> 	
					<div class="card-body" style="height:180px; padding: 0">
						<h5 class="text-center mt-3 small"><a href="/normal/EventDetail/" th:attrappend="href=${elist.eventNo}" th:text="${elist.eventTitle}">이벤트 제목</a></h5>
						<p class="text-center small text-muted" th:text="${elist.eventCreatedDate}">2021.04.21 10:34:38<p>
						<p class="text-center mt-2 small text-info font-weight-bold" th:text="${elist.hospitalName}">테스트병원</p>
					</div> 
				</div>
		</div>
		</div>
		<div class="container pt-5">
			<ul class="pagination pagination-sm" style="justify-content: center; ">
				<li class="page-item" th:value="${pagination.prev}">
					<a class="page-link" th:href="@{/normal/event(page=${pagination.startPage}-1,perPageNum=${pagination.cri.perPageNum})}">
					&laquo;</a>
	            </li>
	            <li class="page-item" th:each="idx,iterStat : ${#numbers.sequence(pagination.startPage,pagination.endPage)}"  th:classappend="${pagination.cri.page} == ${idx} ? active : null">
	               <a class="page-link" th:href="@{/normal/event(page=${idx},perPageNum=${pagination.cri.perPageNum})}" th:text="${idx}"></a>
	            </li>
				<li class="page-item" th:value="${pagination.next} == true and ${pagination.endPage > 0}">
	              <a class="page-link" th:href="@{/normal/event(page=${pagination.endPage}+1,perPageNum=${pagination.cri.perPageNum})}">&raquo;</a>
	            </li>
			</ul>
		</div>
			
		<div class="d-flex justify-content-end">
			<div class="notBtn"  th:if="${session.hosportalId} != null" style="background-color: #0E2D53;">
				<a href="/normal/eventWrite" >글쓰기</a>
			</div>
		</div>   	
	</main>
<footer id="mainFooter">
	<div class="container">
		<img alt="" src="../../../img/logo.png" class="mt-3">
		<p class="small mt-2">회원약관 | 개인정보처리방침 | 이메일무단수집거부 | 영상정보처리기기 운영 및 관리방침 | 회원안내 | 배정기준 | 채용안내 | 광고/임대문의 | 윤리경영 | 기업정보</p>
		<p class="small pt-1" style="padding: 0; margin: 0">부산 수영구 광남로 70 6층 605호 | 고객센터 051-631-1175</p>
		<p class="small" style="padding: 0; margin: 0">대표 호스포탈 | 사업자등록번호 123-45-6789 | 통신판매업신고번호 제2021호 | 개인정보 보호 최고 책임자 호스포탈</p>
		<p class="small text-muted" >BUSANIT© HOSPORTAL PROJECT TEAM PORTFOLIO.</p>
	</div>
</footer>
</body>
</html>

