<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/maincss.css}"></link>
<script src="/js/jquery-3.5.1.js" th:src="@{/js/jquery-3.5.1.js}"></script>
<script src="/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
	#eventb{
		background-image: url( "../../../img/mainbanner13.jpg" );
		opacity: 0.8;
	}
</style>
<script>

	
	//top버튼 컨트롤
    $('#top').click(function(){
       $('html, body').animate({
           scrollTop:0
       },500); 
    }).hide();
    $(window).scroll(function(){
        if($(this).scrollTop()>200){
            $('#top').show();
        }else{
            $('#top').hide();
        }
    });
	
$(document).ready(function() {
	var eventNo = $("#eventNo").val();
	
	$("#btnList").on("click", function() {
		location.href="/hospital/event"
	});
	
	$("#btnUpdate").on("click", function() {
		$("#method").val("PUT");
		var frm = $("#frm")[0];
		frm.action = "/hospital/updateEvent/" + eventNo;
		frm.submit();
		alert("수정이 완료되었습니다.");
	});
});
</script>
</head>
<body>
<header class=" text-center">
	<div id="mainHeader">
		<div id="mainNav">
			<div class="d-flex justify-content-between">
				<div class="pt-2">
					<nav class="navbar navbar-expand-sm justify-center-center">
						<a class="mr-5 ml-2" href="/hospital/index">
							<img class="" src="../../img/logo.png" width="150px;">
						</a>
						<ul class="navbar-nav">
						    <li class="nav-item mr-2">
						        <a class="nav-link text-dark small" href="/hospital/hospital1">진료과목별</a>
						    </li>
						    <li class="nav-item mr-2">
						        <a class="nav-link text-dark small" href="/hospital/hospital2">지역별</a>
						    </li>
						    <li class="nav-item mr-2">
						        <a class="nav-link text-dark small" href="/hospital/event">이벤트</a>
						    </li>
						    <li class="nav-item mr-2">
						        <a class="nav-link text-dark small" href="/hospital/community">커뮤니티</a>
						    </li>
						</ul>
					</nav>
				</div>
				<div class="p-2">
				    <nav class="navbar navbar-expand-sm justify-center-center">
				        <ul class="navbar-nav">
				            <li class="nav-item mr-2">
				            	<a class="nav-link text-dark small" th:if="${session.hospitalId} != null">
				                    <span th:text="${session.hospitalId} + ' 님 '" ></span>
				                </a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link text-dark small" href="/login/normal/logout" th:if="${session.hospitalId} != null">
				                    <span>로그아웃</span>
				                </a>
				                <a class="nav-link text-dark" href="/login" th:unless="${session.hospitalId} != null">
				                    <i class="fa fa-user-circle-o" aria-hidden="true" style=" font-size:26px; color: #0E2D53;"></i>
				                </a>
				            </li>
				            <li class="nav-item">
	                                <a class="nav-link text-dark mx-2 small" th:if="${session.hospitalId} != null" href="/hospital/mypageInfo/" th:attrappend="href=${session.hospitalId}">
	                                    My
	                                </a>
	                                <a class="nav-link text-dark mx-2 small" th:unless="${session.hospitalId} != null" href="/login">
	                                    My
	                                </a>
	                        </li>
				        </ul>
				    </nav>
				</div>
			</div>
		</div>
	</div>
</header>
<div id="eventWrap" style="width: 100%; height: 300px; background-color: black;">
	<div id="eventb" style="width: 100%; height: 300px;"> 
	</div>
	<h1 class="text-center" style="color: white; position: relative; top: -175px;">이벤트</h1>
</div>
<div class="container pt-5">
	<h4>이벤트 수정</h4>
</div>
	<main class="container">
		<form action="" method="POST" id="frm" class="" enctype="multipart/form-data">
				<table class="col-sm-12" style="width: 100%;">
					<tbody>
						<tr>
							<td class="small pl-2" width="150px" height="50px;" style="border: 1px solid #E2E2E3; background-color: #F7F7F8">제목</td>
							<td class="small pl-2" style="border: 1px solid #E2E2E3;">
								<input type="text" id="eventTitle" name="eventTitle" th:value="${item.eventTitle}" style="width: 100%; height: 100%; border: 0">
							</td>		
						</tr>
						<tr>
							<td class="small pl-2"  width="150px" height="50px;" style="border: 1px solid #E2E2E3;background-color: #F7F7F8">이미지</td>
							<td class="small pl-2" style="border: 1px solid #E2E2E3;">
								<input type="file" id="files" name="files" multiple="multiple" style="width: 100%; height: 100%; border: 0">
							</td>
							<!-- <td class="table-success">작성일</td>
							<td th:text="${item.eventCreatedDate}"></td> -->
						</tr>
						<tr style="border: 1px solid #E2E2E3;">
							<td colspan="4" id="eventComment" class="text-center" height="400px;" >
								<textarea style="width: 100%; height: 100%; border:0; border-top:1px solid #E2E2E3;" id="eventComment" name="eventComment" th:text="${item.eventComment}"></textarea>
							</td>
						</tr>
					</tbody>
				</table>	
			<input type="hidden" id="eventNo" name="eventNo" th:value="${item.eventNo}">
			<input type="hidden" id="method" name="_method">
			<div class="d-flex justify-content-end">
				<button type="button" id="btnList" class="notBtn mr-2" style="border: 0; color: white; background-color: #0E2D53;">목록으로</button>
				<button type="button" id="btnUpdate" class="notBtn" style="border: 0; color: white; background-color: #0E2D53;">수정하기</button>
			</div>
		</form>
	</main>
<footer id="mainFooter">
	<div class="container">
		<img alt="" src="../../../img/logo.png" class="mt-3">
		<p class="small mt-2">회원약관 | 개인정보처리방침 | 이메일무단수집거부 | 영상정보처리기기 운영 및 관리방침 | 회원안내 | 배정기준 | 채용안내 | 광고/임대문의 | 윤리경영 | 기업정보</p>
		<p class="small pt-1" style="padding: 0; margin: 0">부산 수영구 광남로 70 6층 605호 | 고객센터 051-631-1175</p>
		<p class="small" style="padding: 0; margin: 0">대표 호스포탈 | 사업자등록번호 123-45-6789 | 통신판매업신고번호 제2021호 | 개인정보 보호 최고 책임자 호스포탈</p>
		<p class="small text-muted" >BUSANIT© HOSPORTAL PROJECT TEAM PORTFOLIO.</p>
	</div>
</footer>


</body>
</html>