<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
<script src="/js/jquery-3.5.1.js" th:src="@{/js/jquery-3.5.1.js}"></script>
<script src="/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" th:href="@{/css/maincss.css}"></link>
<script src="/js/area.js" th:src="@{/js/hospitalArea.js}"></script>
<script type="text/javascript">
$(document).ready(function () {
	
	//top버튼 컨트롤
    $('#top').click(function(){
       $('html, body').animate({
           scrollTop:0
       },500); 
    }).hide();
    $(window).scroll(function(){
        if($(this).scrollTop()>200){
            $('#top').show();
        }else{
            $('#top').hide();
        }
    });
	
});
</script>
<body>
<header class=" text-center">
	<div id="mainHeader">
		<div id="mainNav">
			<div class="d-flex justify-content-between">
				<div class="pt-2">
					<nav class="navbar navbar-expand-sm justify-center-center">
						<a class="mr-5 ml-2" href="/hospital/index">
							<img class="" src="../../img/logo.png" width="150px;">
						</a>
						<ul class="navbar-nav">
						    <li class="nav-item mr-2">
						        <a class="nav-link text-dark small" href="/hospital/hospital1">진료과목별</a>
						    </li>
						    <li class="nav-item mr-2">
						        <a class="nav-link text-dark small" href="/hospital/hospital2">지역별</a>
						    </li>
						    <li class="nav-item mr-2">
						        <a class="nav-link text-dark small" href="/hospital/event">이벤트</a>
						    </li>
						    <li class="nav-item mr-2">
						        <a class="nav-link text-dark small" href="/hospital/community">커뮤니티</a>
						    </li>
						</ul>
					</nav>
				</div>
				<div class="p-2">
				    <nav class="navbar navbar-expand-sm justify-center-center">
				        <ul class="navbar-nav">
				            <li class="nav-item mr-2">
				            	<a class="nav-link text-dark small" th:if="${session.hospitalId} != null">
				                    <span th:text="${session.hospitalId} + ' 님 '" ></span>
				                </a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link text-dark small" href="/login/normal/logout" th:if="${session.hospitalId} != null">
				                    <span>로그아웃</span>
				                </a>
				                <a class="nav-link text-dark" href="/login" th:unless="${session.hospitalId} != null">
				                    <i class="fa fa-user-circle-o" aria-hidden="true" style=" font-size:26px; color: #0E2D53;"></i>
				                </a>
				            </li>
				            <li class="nav-item">
	                                <a class="nav-link text-dark mx-2 small" th:if="${session.hospitalId} != null" href="/hospital/mypageInfo/" th:attrappend="href=${session.hospitalId}">
	                                    My
	                                </a>
	                                <a class="nav-link text-dark mx-2 small" th:unless="${session.hospitalId} != null" href="/login">
	                                    My
	                                </a>
	                        </li>
				        </ul>
				    </nav>
				</div>
			</div>
		</div>
	</div>
</header>
<nav class="container pt-4">
	<h5 class="text-left font-weight-bold mt-5">지역별</h5>
	<p class="text-left text-muted small">지역별 병원 검색</p>
	<div class="categoryMenu mt-3">
		<ul class="text-center text-muted small">
			<li id="Seoul"><a>서울</a></li>
			<li id="Incheon"><a>인천</a></li>
			<li id="Gyeonggi"><a>경기</a></li>
			<li id="Chungbuk"><a>충북</a></li>
			<li id="Chungnam"><a>충남</a></li>
			<li id="Gangwon"><a>강원</a></li>
			<li id="Sejong"><a>세종</a></li>
			<li id="Daejeon"><a>대전</a></li>
			<li id="Gyeongbuk"><a>경북</a></li>
			<li id="Gyeongnam"><a>경남</a></li>
			<li id="Daegu"><a>대구</a></li>
			<li id="Jeollabuk"><a>전북</a></li>
			<li id="Jeollanam"><a>전남</a></li>
			<li id="Gwangju"><a>광주</a></li>
			<li id="Ulsan"><a>울산</a></li>
			<li id="Busan"><a>부산</a></li>
			<li id="Jeju"><a>제주</a></li>
		</ul>
	</div>
</nav>
<main class="container">
        <div class="">
            <div class="pt-5">
                <p class="text-center text-muted small mt-5"></p>
                <h5 class="text-center font-weight-bold  mt-5"> 지역별 / 병원 목록</h5>
            </div>
            <div class="row my-2" id="hosrow">
                <div class="col-sm-3 p-1 mb-2 " style="height: 500px;" th:if="${#lists.size(data)} > 0" th:each="item : ${data}" id="hospitalNo"> 
	                <a href="/hospital/hospital/detail/" th:attrappend="href=${item.hospitalId}" style="text-decoration: none;">
	                    <div class="hospitalImg">
	                        <img th:src="@{'../'}+${item.fileName}" width="100%" height="100%" th:if="${item.fileName} != null">
		            		<img src="../../img/img1.png" width="100%" height="100%" th:unless="${item.fileName} != null">
	                    </div>
	                    <div class="hospitaladdr mt-3 p-2">
	                       <h5 class="small my-2 text-muted text-center" th:text="${item.hospitalAddress2}"></h5>
	                    </div>
	                    <div class="hospitalName">
	                        <p class="text-center" th:text="${item.hospitalName}"></p>
	                    </div>
	                </a>
                </div>
            </div>
        </div>
        <div id="remove">
	        <div>
				<nav th:replace="hosportal/fragments/common :: pagination"></nav>
			</div>
	
			<script th:inline="javascript">
				/*<![CDATA[*/
				function movePage(uri, queryString) {
					location.href = uri + queryString;
				}
				/*]]>*/
			</script>
		</div>
    </main>
<footer id="mainFooter">
	<div class="container">
		<img alt="" src="../../../img/logo.png" class="mt-3">
		<p class="small mt-2">회원약관 | 개인정보처리방침 | 이메일무단수집거부 | 영상정보처리기기 운영 및 관리방침 | 회원안내 | 배정기준 | 채용안내 | 광고/임대문의 | 윤리경영 | 기업정보</p>
		<p class="small pt-1" style="padding: 0; margin: 0">부산 수영구 광남로 70 6층 605호 | 고객센터 051-631-1175</p>
		<p class="small" style="padding: 0; margin: 0">대표 호스포탈 | 사업자등록번호 123-45-6789 | 통신판매업신고번호 제2021호 | 개인정보 보호 최고 책임자 호스포탈</p>
		<p class="small text-muted" >BUSANIT© HOSPORTAL PROJECT TEAM PORTFOLIO.</p>
	</div>
</footer>
</body>
</html>